a {
    color: #4285f4 !important;
    transition: color 0.2s ease;
    text-decoration: none !important;
}

a:hover {
    color: #1976d2 !important;
    text-decoration: underline !important;
}

p{
    font-size: small;
}

.text-center.text-muted.small {
    line-height: 1.4;
}

.d-grid.mb-3 {
    margin-bottom: 1rem !important;
}